/* ==================@imports =============================== */

/* font family import */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* ------Font end------ */

/* ==================CSS Variables =============================== */
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* ==================CSS Variables =============================== */
/* ==================@imports end =============================== */

/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */

/* ============Start Nav=============== */
#brand {
  padding: 0 2rem 0 5rem;
}

#nav-items {
  padding: 1rem 10rem;
}

.nav-link {
  font-family: var(--roboto);
  padding: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--title-color);
}

/* making gradient on the active links of nav */
/* at the beggining, only home btn will be active */
/* other btns wouldn't change in this stage */

#nav-items .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* applying gredient color when hovering on other btns: */
#nav-items a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* ============End Nav=============== */

/* //////////////////////////////////////////////////////////// */

/* ============Banner Area=============== */

/* downlaod some banner background for this */
/* .site-main .site-banner {
  background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)) no-repeat;
} */

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

/* line after the h3 text */
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 3%;
  transform: translateY(-8px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}
/* ============End Banner Area=============== */
/* //////////////////////////////////////////////////////////// */
/* ============About Area=============== */
.site-main .about-area {
  padding: 8rem 5rem;
}
.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 50px/60px var(--roboto);
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}
/* ============End About Area=============== */
/* ============Start Brnad Area=============== */
.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0rem;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.15);
}

/* second row // right row */
.site-main .brand-area .experience-area {
  padding-left: 1rem;
}
.site-main .brand-area .experience-area span {
  display: block;
}
.site-main .brand-area .experience-area .years-area {
  background: url(./images/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

#bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background-color: #e02929d7;
}
/* ============End Brnad Area=============== */
